.idea
__pycache__
venv_name
.DS_Store
credentials.json

# Byte-compiled / optimized / DLL files
__pycache__/
idea/
backup.sql
venv/
.venv/
eq_rental.db

.env
uvicorn.log
uvicorn_error.log
bot.log
bot_error.log